<!DOCTYPE html>
<html>
  <head>
    <title>{{debtor.name}} {{debtor.surname}}</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'debtsApp/style.css' %}">
  </head>
  <body>
    <div class="editContainer">
      <a class="linkButton" href="{% url 'debtsApp:index' %}">Home</a>
    </div>
    <h1>{{debtor.name}} {{debtor.surname}}</h1>
    <div class="simpleContainer">
        <h2>Debts:</h2>
        <table class="tg">
            <thead>
            <tr>
                <th class="tg-l93j">Reason</th>
                <th class="tg-l93j">Amount</th>
                <th class="tg-l93j Actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for debt in debtor.debts.all %}
            <tr>
                <td class="tg-qv16">{{debt.reason}}</td>
                <td class="tg-qv16">{{debt.amount}} €</td>
                <td class="tg-qv16" Actions><a class="linkButton" href="{% url 'debtsApp:debt_edit' debtor.pk debt.pk%}">Edit</a><a class="linkButton" href="{% url 'debtsApp:debt_delete' debtor.pk debt.pk%}">Delete</a></td>
            </tr>
            {% endfor %} 
            </tbody>
        </table>
        <div class="editContainer">
            <a class="linkButton" href="{% url 'debtsApp:debt_create' debtor.pk %}">Add</a>
        </div>
    </div>
  </body>
</html>