<!DOCTYPE html>
<html>
  <head>
    <title>Add Debt</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'debtsApp/style.css' %}">
  </head>
  <body>
    <div class="editContainer">
      <a class="linkButton" href="{% url 'debtsApp:index' %}">Home</a>
    </div>
    <div class="simpleContainer">
    <h2>Add Debt for {{ debtor.name }} {{ debtor.surname }}</h2>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="linkButton" type="submit">Save</button>
      </form>
    </div>
  </body>
</html>
